<form method="post" enctype="multipart/form-data" action="/Item/Create">
    <div class="form-group">
        <label for="IdItem" class="control-label">IdItem</label>
        <input id="IdItem" name="IdItem" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ItName" class="control-label">Item Name</label>
        <input id="ItName" name="ItName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CatId" class="control-label">Category Id</label>
        <input id="CatId" name="CatId" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Qty" class="control-label">Quantity</label>
        <input id="Qty" name="Qty" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label for="SoldQty" class="control-label">Sold Quantity</label>
        <input id="SoldQty" name="SoldQty" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label for="Cost" class="control-label">Cost</label>
        <input id="Cost" name="Cost" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label for="ItDate" class="control-label">Item Date</label>
        <input id="ItDate" name="ItDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label for="manufacturer" class="control-label">Manufacturer</label>
        <input id="manufacturer" name="manufacturer" class="form-control" />
    </div>
    <div class="form-group">
        <label for="SalesPer" class="control-label">Sales Percentage</label>
        <input id="SalesPer" name="SalesPer" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Address" class="control-label">Address</label>
        <input id="Address" name="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Telephone" class="control-label">Telephone</label>
        <input id="Telephone" name="Telephone" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ItSale" class="control-label">Item Sale</label>
        <input id="ItSale" name="ItSale" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
